body {
  padding:0;
  margin:0;
}
.thead {
  border-collapse: collapse;
  width: 100%;
}
.thead td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
} 
.thead tr:nth-child(even){
    background-color: #f2f2f2;
}
.thead tr:hover {
  background-color: #ddd;
}
.thead th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}